.container {
    display: flex;
    background-color: #dddddd;
    flex-wrap: wrap; /* Permite que o leyout quebre linha pra seguir as propriedades de tamanho descritas */
    flex-flow: column wrap; /* Com essa Propriedade você consegue configurar tanto o flax-derection quanto o
    flex-wrap ao mesmo tempo*/
    justify-content: center; /* alinha produdotos na row ou linha */
    align-items:center;/* alinha qundo os itens estão na posição de coluna*/
    justify-content: flex-start; /* Para alinhar onde esta o start do flex onde ele começa */
    justify-content: flex-end; /* Para alinhar no final do flex */
    justify-content: space-around; /* Para alinhar os itens de forma que os espaços entre eles sejam iguais*/
    justify-content: space-between; /* Espaça os itens de modo que o primeiro item fica colado no começo da
    div e o segundo fica no meio e o ultimo no final do flex*/
    justify-content:space-around; /* todos os espaços entre os itens serão iguais*/
}
.container div {
    width:30px; /* Posso colocar o tamanho que eu quiser não precisando  do flex 1, */
    background-color: #ff0000;
    margin:10px;
    padding:10px;
    font-size: 18px;
}